<div class="container">
  <div class="row" >
      <div class="col-md-12" style="background-color:lightgrey; margin-top: 4%;padding-bottom: 15%">
        <div class="col-md-6" style="margin-top: 20%;margin-left: 25%;"  >
          <form [formGroup]="editUserForm">
            <div class="form-group">
              <label>User Name</label>
                <input
                 type="text" 
                 formControlName="username"
                 class="form-control">
            </div>
            <div class="form-group">
              <label>Email</label>
                <input 
                type="text" 
                formControlName="email"
                class="form-control">
            </div>
            <div class="form-group">
              <label>Job Title</label>
                <input
                 type="text"
                 formControlName="jobtitle"
                 class="form-control">
            </div>
            <div class="form-group">
              <label>Team Name</label>
                <input 
                type="text"
                formControlName="team"
                class="form-control">
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
