<div class="container">
  <div class="row" >
      <div class="col-md-12" style="background-color:lightgrey; margin-top: 4%;padding-bottom: 15%">
      <div class="col-md-6" style="margin-top: 20%;margin-left: 25%;"  >
          <div>
              <div>
                      <h1>Azure Instance Launch</h1>
              </div>
              <div class="form-group">
                  <label>Image ID</label>
                  <select class="form-control">
                    <option>ami-0080e4c5bc078760e</option>
                  </select>
                     
              </div>
              <div>
                  <label>Instance Type</label>
                  <select class="form-control">
                    <option>t1.micro</option>
                  </select>
              </div>
              <div class="form-group">
                <label>Key Name</label>
                <input
                    type="text"
                    class="form-control">
                   
            </div>
            
              <br>
              <div>
                  <button class="btn btn-primary">Launch</button>
                  
              </div>
              <div>
                  
              </div>
          </div>
          
      </div>
      </div>
  </div>
</div>
